$redColor: #ff7956;
$redColorTwo: #d61c4e;
$blueColor: #3ab4f2;
$blueColorTwo: #0078aa;
$bg: #ececec;
$white: #fff;
$boxShadowBlue: 0 0 0 0.25rem rgba($blueColor, 0.5);
$boxShadowRed: 0 0 0 0.25rem rgba($redColor, 0.5);
